@model SocietyManagementSystem.Models.EventInfo

@{
    ViewBag.Title = "UpdateEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/Registration.css" />

}


<div class="wrapper">

    @*@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-right" }))
        {*@

    <form class="form-right" method="post">
        <h2 class="text-uppercase">UPDATE EVENT FORM</h2>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>Event ID</label>
                <span style="margin-right:50px; padding-right:100px;">
                    @ViewBag.id

                </span>
            </div>
            <div class="col-sm-6 mb-3">
                <label>Event Name</label>
                @Html.TextBox("Name", null, new { @class = "input-field" });
            </div>

            <div class="col-sm-6 mb-3">
                <label>Guest Name</label>
                @Html.TextBox("Guest_name", null, new { @class = "input-field" });

            </div>
            <div class="col-sm-6 mb-3">
                <label>Venue</label>
                @Html.TextBox("Venue", null, new { @class = "input-field" });


            </div>
            <div class="col-sm-6 mb-3">
                <label>Event Type</label>
                   @Html.TextBox("Event_Type", null, new { @class = "input-field" });
            </div>
                <div class="col-sm-6 mb-3">
                    <label>Society Name</label>
                    @Html.TextBox("SocietyName", null, new { @class = "input-field" });

                </div>
            <div class="col-sm-6 mb-3">
                <label>Date & Time</label>
                @Html.TextBox("Date_Time", null, new { @class = "input-field" });

            </div>

        </div>
        <div class="mb-3">
            <label class="option">
                I agree to the <a href="#">Terms and Conditions</a>
                <input type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-field">
            <input type="submit" value="UPDATE" class="register" name="register">
        </div>
    </form>
    @*}*@

</div>


